/*
 * PieCSS v1.0.0 ()
 * arc.pie.css
 * Copyright 2020 Eugy Enoch (https://eugyenoch.github.io/)
 * For PieCSS
 * MIT License 
 */
 
/*Navigation, Dropdown and the bar model*/
/*Dropdowns*/
.arc-dropdown-clicks,.arc-dropdown-hover{position:relative;display:inline-block;cursor:pointer;}
.arc-dropdown-hover:hover > .arc-button:first-child,.arc-dropdown-clicks:hover > .arc-button:first-child{background-color:#f5f5f5;color:#000}
.arc-dropdown-hover:first-child,.arc-dropdown-clicks:hover{background-color:#f5f5f5;color:#000}
.arc-dropdown-content{cursor:auto;color:#000;background-color:#fffafa;display:none;position:absolute;min-width:150px;margin:0;padding:0;z-index:1}
.arc-dropdown-hover:hover .arc-dropdown-content{display:block}

/*Vertical navigation*/
.arc-navv{background:inherit;display:block;margin:0;padding:0;max-width:30% !important;}
.arc-navv .arc-navv-item{padding:7px 15px;float:left;width:auto;border:none;display:block;outline:0;text-decoration:none;}
.arc-navv .arc-navv-button{white-space:normal;}
/*using icons in vertical nav list*/
.arc-navv .arc-navv-item i{display:block;font-size:2rem;}}

/*Vertical navigation - using lists*/
.arc-navv ul,ol{display:block; background:#fffafa;list-style-type:none;margin:0;padding:0;max-width:30% !important;position:fixed;overflow:auto;height:100%;}
.arc-navv-list li a{display:block;color:#000;padding:7px 15px;text-decoration:none;text-align:left;}
.arc-navv-list li a:hover{background-color:#000;color:#fffff;} .arc-navv-list li a:active{background-color:#000;color:#fffff;}
.arc-navv-list li:last-child{border-bottom:none;}

/*Horizontal navigation*/
.arc-navh{background:inherit;display:inline-block;margin:0;padding:0;width:100%;margin-top:auto;}
.arc-navh .arc-navh-item{width:100%;overflow:hidden;float:left;display:block;color:#000;padding:10px 12px;text-decoration:none;text-align:left;}
.arc-navh .text-center .arc-navh-item{text-align:center;}
.arc-navh .arc-navh-button{white-space:normal}
.arc-navh .arc-dropdown-hover,.arc-navh .arc-dropdown-clicks{position:static;float:left;}
/*using icons in horizontal nav list*/
.arc-navh .arc-navh-item i{display:block;font-size:2rem;}}

/*Horizontal navigation - using lists*/
.arc-navh ul,ol{display:inline-block; background:#fffafa;list-style-type:none;margin:0;padding:0;width:100%;overflow:hidden;height:auto;}
.arc-navh-list li a{float:left;display:block;color:#000;padding:10px 12px;text-decoration:none;}
.arc-navh-list li a:hover{background-color:#000;color:#fffff;} .arc-navh-list li a:active{background-color:#000;color:#fffff;}
.arc-navh-list li:last-child{border-bottom:none;}

/*Logo in any navigation*/
.nav-logo{position:absolute;color:inherit;display:inline-block;font-size:2.1rem;padding:0;white-space:nowrap;}
.nav-logo-center{left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);}
.nav-logo-right{right:0.5rem;padding:0;}
@media only screen and (max-width:900px){
.nav-logo{left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);}}

/*Fixed position for any navigation*/
.nav-fixed{position:relative;height:58px;z-index:998;}
.navbar-fixed nav,section,div,header{position:fixed;}
@media only screen and (min-width:600px){.navbar-fixed nav,section,div,header{height:62px;}}

/*Tree view navigation with arrow- use all css classes herein
* works with Pie.js*/
.tree-view{margin:0;padding:0;}.tree-view ul,ol{list-style-type:none;}
/*The caret/arrow in the tree view navigation*/
.tree-view-arrow{cursor:pointer;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;} 
.tree-view-arrow::before{content:"\25B6";color:#000;display:inline-block;margin-right:5px;}
.tree-view-nested{display:none; /*hides nested list*/} 
.tree-view-active{display:block /*shows the nested list when clicked*/}

/*Tree view navigation with checkbox - use all css classes herein
* works with Pie.js*/
.tree-view{margin:0;padding:0;}.tree-view ul,ol{list-style-type:none;}
/*The checkbox in the tree view navigation*/
.tree-view-check{cursor:pointer; user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;} 
.tree-view-check::before{content:"\2610";color:#000;display:inline-block;margin-right:5px;}
.tree-view-checkbox::before{content:"\2611";color:#4169E1;}
.tree-view-nested{display:none; /*hides nested list*/} 
.tree-view-active{display:block /*shows the nested list when clicked*/}

@media (max-width:600px){
.arc-dropdown-hover .arc-dropdown-content,.arc-dropdown-clicks{position:relative;}	
.arc-navh-item .arc-navv-item,.arc-dropdown-hover.arc-dropdown-clicks{text-align:center;}
.arc-dropdown-hover.arc-button,.arc-dropdown-clicks.arc-button{width:100%;}}
/*End of navigation and Dropdown*/
